<div class="medium-4 columns">
<aside class="panel radius">
	<h3>Important Dates</h3>
	<ul>
        <li>December 17 - <a href="{{ site.url }}{{ site.baseurl }}/attendees">Registration Rates Available</a></li>
        <li>January 4 - <a href="{{ site.url }}{{ site.baseurl }}/authors/">Presentation Instructions Updated</a></li>
        <li>Early January - Registration Opens</li>
        <li>March 8-16 - <a href="{{ site.url }}{{ site.baseurl }}/schedule/affiliatedevents">Affiliated Events</a></li>
        <li>March 13-14 - <a href="{{ site.url }}{{ site.baseurl }}/schedule/workshops">"Workshop Weekend"</a></li>
        <li>March 14 @ 8:00 PM ET - SIGCSE TS 2021 Begins!</li>
	</ul>
</aside>
</div>