<div class="medium-4 columns">
    <!--        <a class="button large radius {{ site.data.registration.registration_button.style }}" href="{{ url }}{{ site.data.registration.registration_button.url }}"{% if site.data.registration.registration_button.url contains 'http' %} target="_blank" {% endif %}>{{ site.data.registration.registration_button.text }}</a> -->
<aside class="panel radius">
	<h3>Important Dates</h3>
	<ul>
        <li>April 13 - Website goes live!</li>
        <li>July 3 - <b>Submissions open!</b></li>
        <li>August 6 - Paper Abstracts Due</li>
        <li>August 13 - Full Papers, Panels, Special Sessions, Workshops Due</li>
        <li>October 8 - ACM SRC, BoFs, Demos, Lightning Talks, Nifty Assignments, Posters Due</li>
        <li>October 13 - Initial venue and hotel information</li>
        <li>December 15 - Registration Opens</li>
	</ul>
    <center>
    You can <a href="https://easychair.org/conferences/?conf=sigcsets2022">make a submission via EasyChair</a>.
    </center>
</aside>
</div>
