<aside class="panel radius">
	<h3>Participant Information</h3>
	<ul>
		<li><a href="#hybrid-experience">Hybrid Experience</a></li>
		<li><a href="#accessibility">Accessibility</a></li>
		<li><a href="#hotel-and-travel-information">Hotel and Travel Information</a></li>
			<ul>
				<li><a href="#roommate-database">Roommate Database</a></li>
				<li><a href="#visas">Visas</a></li>
			</ul>
		<li><a href="#registration">Registration</a></li>
			<ul>
				<li><a href="#in-person-participants">In-Person Participants</a></li>
				<li><a href="#remote-participants">Remote Participants</a></li>
				<li><a href="#workshops">Workshops</a></li>
				<li><a href="#cancellation-policy">Cancellation Policy</a></li>
			</ul>
		<li><a href="#on-site-student-volunteers">On-Site Student Volunteers</a></li>
			<ul>
				<li><a href="#how-do-i-register-to-volunteer">How to Volunteer</a></li>
				<li><a href="#what-to-do-once-at-the-sigcse-technical-symposium">Process Once Onsite</a></li>
				<li><a href="#institutional-coordinators">Institutional Coordinators</a></li>
				<li><a href="#frequently-asked-questions">Frequently Asked Questions</a></li>
			</ul>
		<li><a href="#carbon-offsets">Carbon Offsets</a></li>
		<!-- <li><a href="#henry-walker-fund">Henry Walker Fund</a></li> -->
		<li><a href="#kidscamp">KidsCamp</a></li>
	</ul>
</aside>
