<aside class="panel radius">
	<h3>Program Schedule</h3>
	<ul>
    <li><a href="#Monday-1">Monday, March 15 - 1:00 PM (ET)</a></li>
    <li><a href="#Monday-2">Monday, March 15 - 2:00 PM (ET)</a></li>
    <li><a href="#Monday-8">Monday, March 15 - 8:00 PM (ET)</a></li>
    <li><a href="#Tuesday-1">Tuesday, March 16 - 1:00 PM (ET)</a></li>
    <li><a href="#Tuesday-8">Tuesday, March 16 - 8:00 PM (ET)</a></li>
    <li><a href="#Wednesday-1">Wednesday, March 17 - 1:00 PM (ET)</a></li>
    <li><a href="#Wednesday-8">Wednesday, March 17 - 8:00 PM (ET)</a></li>
    <li><a href="#Thursday-1">Thursday, March 18 - 1:00 PM (ET)</a></li>
    <li><a href="#Thursday-8">Thursday, March 18 - 8:00 PM (ET)</a></li>
    <li><a href="#Friday-1">Friday, March 19 - 1:00 PM (ET)</a></li>
    <li><a href="#Friday-8">Friday, March 19 - 8:00 PM (ET)</a></li>
    <li><a href="#Saturday-1">Saturday, March 20 - 1:00 PM (ET)</a></li>
    <li><a href="#Saturday-8">Saturday, March 20 - 8:00 PM (ET)</a></li>
    <li><a href="#Saturday-9">Saturday, March 20 - 9:00 PM (ET)</a></li>
    </ul>
    <h3>Other Events</h3>
    <ul>
    <li><a href="{{ site.url }}/schedule">SIGCSE TS 2021 Calendar</a></li>
    <li><a href="{{ site.url }}/schedule/workshops">Workshop Schedule</a></li>
    <li><a href="{{ site.url }}/schedule/affiliatedevents">Affiliated Events</a></li>
    <li><a href="{{ site.url }}/schedule/specialevents">Special Events</a></li>
    </ul>
</aside>
