<aside class="panel radius">
    <h3>SIGCSE TS 2021 Calendar</h3>
    <ul>
        <li><a href="{{ site.url }}/schedule/">SIGCSE TS 2021 Calendar</a></li>
    </ul>
	<h3>Workshops</h3>
	
        {% assign block = "X" %}
        {% assign position = -1 %}
        {% for workshop in site.data.workshops.workshops %}
            {% if block != workshop.block %}
                </ul>
                {% assign block = workshop.block %}
                {% assign position = position | plus: 1 %}
                <strong><a href="#block-{{block | downcase}}">Block {{block}} Workshops</a></strong>
                <ul>
            {% endif %}
        <li><a href="#workshop-{{workshop.number}}">Workshop {{workshop.number}} : {{workshop.title}}</a></li>
        {% endfor %}
	</ul>
</aside>
