<aside class="panel radius">
	<h3>Attendee Information</h3>
	<ul>
		<li><a href="#registration">Registering for SIGCSE TS 2021</a></li>
		<li><a href="{{ site.url }}/schedule">Full Schedule of Events</a></li>
		<li><a href="{{ site.url }}/schedule/workshops">Workshop Schedule</a></li>
		<li><a href="{{ site.url }}/schedule/affiliatedevents">Affiliated Events</a></li>
		<li><a href="{{ site.url }}/schedule/specialevents">Special Events</a></li>
		<li><a href="{{ site.url }}/schedule/supportersessions">Supporter Sessions</a></li>
	</ul>
	<h3>Session Chair Information</h3>
	<ul>
		<li><a href="{{ site.url }}/sessionchairs">Session Chair Guidelines</a></li>
	</ul>
</aside>
