<aside class="panel radius">
	<h3>Participant Information</h3>
	<ul>
		<li><a href="#hotel-and-travel-information">Hotel and Travel Information for SIGCSE TS 2022</a></li>
		<li><a href="#registering-for-sigcse-ts-2022">Registering for SIGCSE TS 2022</a></li>
		<li><a href="#workshops">Workshops</a></li>
		<li><a href="#hybrid-experience">Hybrid Experience</a></li>
		<li><a href="#visas">Visas</a></li>
		<li><a href="#carbon-offsets">Carbon Offsets</a></li>
		<li><a href="#henry-walker-fund">Henry Walker Fund</a></li>
		<li><a href="#roommate-database">Roommate Database</a></li>
		<li><a href="#kidscamp">KidsCamp</a></li>
		<li><a href="#cancellation-policy">Cancellation Policy</a></li>
	</ul>
</aside>
