<aside class="panel radius">
    <h3>SIGCSE TS 2021 Calendar</h3>
    <ul>
        <li><a href="{{ site.url }}/schedule/">SIGCSE TS 2021 Calendar</a></li>
    </ul>
	<h3>Program Schedule</h3>
	<ul>
    <li><a href="{{ site.url }}/schedule/program/#Monday-1">Monday, March 15 - 1:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Monday-2">Monday, March 15 - 2:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Monday-8">Monday, March 15 - 8:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Tuesday-1">Tuesday, March 16 - 1:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Tuesday-8">Tuesday, March 16 - 8:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Wednesday-1">Wednesday, March 17 - 1:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Wednesday-8">Wednesday, March 17 - 8:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Thursday-1">Thursday, March 18 - 1:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Thursday-8">Thursday, March 18 - 8:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Friday-1">Friday, March 19 - 1:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Friday-8">Friday, March 19 - 8:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Saturday-1">Saturday, March 20 - 1:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Saturday-8">Saturday, March 20 - 8:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/program/#Saturday-9">Saturday, March 20 - 9:00 PM (ET)</a></li>
    </ul>
    <h3>Posters</h3>
    <ul>
    <li><a href="{{ site.url }}/schedule/posters/#Monday-4">Session 1: Mon, March 15 - 4:15 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/posters/#Tuesday-4">Session 2: Tues, March 16 - 4:15 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/posters/#Wednesday-4">Session 3: Wed, March 17 - 4:15 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/posters/#Thursday-4">Session 4: Thurs, March 18 - 4:15 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/posters/#Friday-4">Session 5: Fri, March 19 - 4:15 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/posters/#Saturday-4">Session 6: Sat, March 20 - 4:15 PM (ET)</a></li>
    </ul>
    <h3>Birds of a Feather</h3>
    <ul>
    <li><a href="{{ site.url }}/schedule/bofs/#Monday-4">Flock 1A: Mon, March 15 - 4:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/bofs/#Monday-5">Flock 1B: Mon, March 15 - 5:30 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/bofs/#Tuesday-4">Flock 2A: Tues, March 16 - 4:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/bofs/#Tuesday-5">Flock 2B: Tues, March 16 - 5:30 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/bofs/#Wednesday-4">Flock 3A: Wed, March 17 - 4:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/bofs/#Wednesday-5">Flock 3B: Wed, March 17 - 5:30 PM (ET)</a></li>
    </ul>
    <h3>Demonstrations</h3>
    <ul>
    <li><a href="{{ site.url }}/schedule/demos/#Tuesday-1">Tuesday, March 16 - 1:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/demos/#Wednesday-1">Wednesday, March 17 - 1:00 PM (ET)</a></li>
    <li><a href="{{ site.url }}/schedule/demos/#Thursday-1">Thursday, March 18 - 1:00 PM (ET)</a></li>
    </ul>
    <h3>Other Schedules</h3>
    <ul>
    <li><a href="{{ site.url }}/schedule/keynotes">Keynote Speakers</a></li>
    <li><a href="{{ site.url }}/schedule/posters">Posters</a></li>
    <li><a href="{{ site.url }}/schedule/bofs">Birds of a Feather Flocks</a></li>
    <li><a href="{{ site.url }}/schedule/demos">Demonstrations</a></li>
    <li><a href="{{ site.url }}/schedule/src">ACM Student Research Competition</a></li>
    <li><a href="{{ site.url }}/schedule/workshops">Workshop Schedule</a></li>
    <li><a href="{{ site.url }}/schedule/affiliatedevents">Affiliated Events</a></li>
    <li><a href="{{ site.url }}/schedule/specialevents">Special Events</a></li>
    <li><a href="{{ site.url }}/schedule/supportersessions">Supporter Sessions</a></li>
    </ul>
</aside>
