<aside class="panel radius">
	<h3>Track Submissions</h3>
	<ul>
        {% assign posts = site.authors | sort: 'order' %}
        {% for post in posts %}
        {% if post.track == 'CFP' or post.track == 'Papers' or post.track == 'Panels' or post.track == 'Special Sessions' or post.track == 'Workshops' %} 
        <li><a href="{{ site.url }}{{ post.url }}">{{ post.track }}</a></li>
        {% else %}
        <li>{{ post.track }} (TBA)</li>
        {% endif %}
        {% endfor %}
	</ul>
</aside>
