<aside class="panel radius">
	<h3>Reviewing Submissions</h3>
	<ul>
        {% assign posts = site.reviewers | sort: 'order' %}
        {% for post in posts %}
			{% if post.track %}
				{% assign anchor = post.track %}
			{% else %}
				{% assign anchor = post.title %}
			{% endif %}
            {% if post.track != 'XX' %} 
	        <li><a href="{{ site.url }}{{ post.url }}">{{ anchor }}</a></li>
            {% else %}
            <li>{{ post.track }} (TBA)</li>
            {% endif %}
        {% endfor %}
	</ul>
</aside>
