<section class="alert-box info" role="alert">
<p>These <strong>guidelines are current as of July 3, 2020</strong>. Due to the ever-changing COVID-19 pandemic, these are subject to change. Be sure to revisit these guidelines days prior to submitting your final proposal. To clarify between hybrid and virtual modes:</p>
<ul>
	<li>In a virtual mode, the symposium will be done entirely online facilitated by one or more online platforms.</li>
	<li>In a hybrid mode there’s a physical presence on-site by some, while others are participating remotely, again facilitated by one or more online platforms.</li>
</ul>
<p>Different online platforms are still being considered, so where applicable, please do the best you can to describe your activities if the conference should go virtual or hybrid.</p>
</section>