{% capture type %}{{ page.track | downcase }}{% endcapture %}
<section class="alert-box info" role="alert">
By SIGCSE policy, {% if site.data.submissions[type].all-must-attend %}<strong>all contributors</strong> are {% else %}<strong>at least one contributor</strong> is {% endif %}required to register, attend, and present a {{ page.title | downcase }}. Our full policy (to be posted) has more information.
</section>

<section class="alert-box info" role="alert">
<b>AUTHORS TAKE NOTE:</b> The official publication date is the date the proceedings are made available in the ACM Digital Library. This date may be up to two weeks prior to the first day of your conference. The official publication date affects the deadline for any patent filings related to published work.
</section>


<!-- FIXME: Need to build out the attendees section of website 
	Add this.... 
See our <a href="/attendees/policies.html">full policy</a> for more information.

-->
