{% if include.isPaper %}
{% assign leader = "APC" %}
{% else %}
{% assign leader = "Track Chairs" %}
{% endif %}

### Discussion

The discussion and recommendation period provides the opportunity for the {{leader}} to discuss reviews and feedback so they can provide the best recommendation for acceptance or rejection to the Program Chairs and that the submission is given full consideration in the review process. We ask that **Reviewers engage in discussion when prompted by other reviewers, the {{leader}}** by using the Comments feature of EasyChair. During this period you will be able to revise your review based on the discussion, but you are not required to do so.

The {{leader}} will make a final recommendation to the Program Chairs from your feedback.
