## Reviews

<section class="alert-box info" role="alert">
<p>While your review text should clearly support your scores and recommendation, please <strong>do not</strong> include your preference for acceptance or rejection of a submission in the feedback to the authors. Instead, use the provided radio buttons to make a recommendation (the authors will not see this) based on your summary review and provide any details that refer to your recommendation directly in the confidential comments to the APC or track chairs. Remember that as a reviewer, you will only see a small portion of the submissions, so one that you recommend for acceptance may be rejected when considering the other reviewer recommendations and the full set of submissions.</p>
</section>