{% assign track = page.track %}
{% assign reviewDates = site.data.cfp.reviewDates %}
{% for submission in site.data.cfp.reviewing %}
  {% if track == submission.track %}
    {% assign round = submission.round %}
    {% if submission.bidding %} 
      {% assign bidstart = reviewDates[round].bidstart %}
     	{% assign bidend = reviewDates[round].bidend %}
     	{% assign reviewstart = reviewDates[round].reviewstart %}
     	{% assign reviewend = reviewDates[round].reviewend %}
     	{% assign discussionstart = reviewDates[round].discussionstart %}
      {% assign discussionend = reviewDates[round].discussionend %}

    {% else %}
      {% assign reviewstart = reviewDates[round].bidstart %}
      {% assign reviewend = reviewDates[round].reviewend %}
      {% assign discussionstart = reviewDates[round].discussionstart %}
      {% assign discussionend = reviewDates[round].discussionend %}

{% comment %}   Check Round 1... why are these set to be round 0's values?     
        {% assign discussionstart = site.data.cfp.discussionstart %}
        {% assign discussionend = site.data.cfp.discussionend %}
{% endcomment %}
    {% endif %}
  {% endif %}
{% endfor %}

<!-- DEBUGGING >

Track: {{include.plural}}

Round: {{round}}

date: {{subdate}}

time: {{subtime}}

{{subnotification}}

{{subcameraready}}

{{subtimelink}}

{{specialsubmission}}
-->

<h2>Review Timeline</h2>

<div class="table-responsive" style="margin-top: 20px;">
  <table class="table">
      <tbody>
        <tr>
          <th scope="col">Reviewing Phase</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
        </tr>
        {% if bidstart %}
        <tr>
          <th scope="row">Bidding</th>
          <td>{{bidstart}}</td>
          <td>{{bidend}}</td>
        </tr>
        {% endif %}
        <tr>
          <th scope="row">Reviewing</th>
          <td>{{reviewstart}}</td>
          <td>{{reviewend}}</td>
        </tr>
        <tr>
          <th scope="row">Discussion & Recommendations</th>
          <td>{{discussionstart}}</td>
          <td>{{discussionend}}</td>
        </tr>
      </tbody>
    </table>
</div>
