{% assign track = page.track %}
{% for submission in site.data.cfp.reviewing %}
  {% if track == submission.track %}
    {% if submission.dualAnonymous %}

### Dual-Anonymous Review Process
Initial submissions to the {{track}} track are **reviewed with the dual-anonymous review process**, in which **authors must anonymize their submissions** — thus reviewers (and APCs for papers) are unaware of the author — and reviewers and APCs are anonymous to each other and to the authors. During the discussion of a submission in EasyChair, reviewers can refer to each other by their reviewer number on that  submission’s review.
    {% else %}
### Single-Anonymous Review Process
Initial submissions to the {{track}} track are **reviewed with the single-anonymous review process**, where the submissions are not anonymized but reviewers are anonymous to each other and to the authors. During the discussion of a submission in EasyChair, reviewers can refer to each other by their reviewer number on that  submission’s review.
    {% endif %}
  {% endif %}
{% endfor %}