{% assign track = page.track %}

{% for submission in site.data.cfp.master %}
  {% for type in submission.types %}
    {% if type.track == track %}
      {% assign subtrack = submission.round %}
      {% if subtrack >= 0 and subtrack <= 3 %}
        {% assign subdate = site.data.cfp.round[subtrack].date %}
      {% else %}
        {% assign subdate = "Oops." %}
      {% endif %}
      {% assign subtime = submission.time %}
      {% assign subnotification = submission.notification %}
      {% assign subcameraready = submission.cameraready %}
      {% assign subtimelink = submission.link %}
      {% assign specialsubmission = site.data.cfp.details[track].specialsubmission %}
      {% assign abstractdue = submission.abstractdue %}
      {% assign abstractlink = submission.abstractlink %}
    {% endif %}
  {% endfor %}
{% endfor %}

<!-- DEBUGGING 

{{track}}

round: {{subtrack}}

date: {{subdate}}

time: {{subtime}}

{{subnotification}}

{{subcameraready}}

{{subtimelink}}

{{specialsubmission}}
-->


<div class="table-responsive" style="margin-top: 20px;">
  <table class="table">
      <thead>
        <tr> <!-- TODO: automate this, currently code must be modified  -->
          {% if site.data.cfp.submissionopen and subtrack > 1 %}
            <th colspan="2" style="text-align: center;">Now accepting submissions!</th>
          {% else %}
            <th colspan="2" style="text-align: center;">Submissions are closed.</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if abstractdue %}
        <tr>
          <th scope="row">Abstract Due Date</th>
          <td>{{abstractdue}}</td>
        </tr>
        <tr>
          <th scope="row">Abstract Due Time</th>
          <td>{{subtime}}</td>
        </tr>
        {% endif %}
        <tr>
          <th scope="row">Date Due</th>
          <td>{{subdate}}</td>
        </tr>
        <tr>
          <th scope="row">Time Due</th>
          <td> {{subtime}}</td>
        </tr>
        {% if track != "Affiliated Events" %} 
        <tr>
          <th scope="row">Submission Limits</th>
          <td> {{site.data.cfp.details[track].limits}}
          {% if site.data.cfp.details[track].abstract %}
            ({{site.data.cfp.details[track].connector}} abstract of {{site.data.cfp.details[track].abstract}})
          {% endif %}
          </td>
        </tr>
        {% endif %}

        {% if track != "Affiliated Events" %} 
        {% if site.data.cfp.submissionopen and subtrack > 1 %} <!-- TODO: change for Round 2! -->
        <tr>
          <th scope="row">Submission Link</th>
          <td>
              <a href="{{site.data.cfp.submissionurl}}">{{site.data.sigcse.upper}} {{site.data.sigcse.year}} SIGCSE TS 2022 Submission via EasyChair</a>
            </td>
        </tr>
        {% endif %}
        {% else %}
        <tr>
          <th scope="row">Submission</th>
          <td>
              Please email submissions to <a href="mailto:affiliated@sigcse2022.org">affiliated@sigcse2022.org</a>.
            </td>
        </tr>
        {% endif %}

        <tr>
          <th scope="row">Notification to Authors</th>
          <td> {{subnotification}}</td>
        </tr>

		{% if subcameraready %}
        <tr>
          <th scope="row">Camera-Ready Deadline</th>
          <td> {{subcameraready}}</td>
        </tr>
		{% endif %}

		{% if site.data.cfp.camerareadyinstructionsopen %}
        <tr>
          <th scope="row">Camera-Ready Instructions</th>
          <td>
			<a href="{{site.data.cfp.camerareadyinstructions}}">@ Sheridan Publishing</a>
          </td>
        </tr>
		{%endif %}
        <tr>
          <th scope="row">Duration</th>
          <td> {{site.data.cfp.details[track].length}}</td>
        </tr>

      </tbody>
    </table>
</div>

<section class="alert-box success" role="alert">
  <h2 style="font-size: 1.25rem;">ACM Policy : <a href="https://www.acm.org/publications/policies/simultaneous-submissions">Prior Publication and Simultaneous Submissions</a></h2>
  <blockquote cite="https://www.acm.org/publications/policies/simultaneous-submissions">Under no circumstances shall a paper (or substantially the same paper) be simultaneously submitted to two or more publications, or to a second publication  while still under review elsewhere, without a letter of notification to the Editor-in-Chief (EiC) or Program Chair (PC) of each affected publication. Failure to adhere to this policy is cause for rejection of the manuscript. Repeated violations may lead to a ban on future submissions at the discretion of the EiC or PC.”</blockquote>
  <p>The ACM website has the full policy.</p>
</section>
