{% assign submissiontype = include.submissiontype %}

## How Do I Submit My {{ include.submissiontype }}?

{% include alert danger='Please be aware that the submission form asks you to provide demographic information. This demographic information is being collected by ACM; they created the questions and require them to be in the submission form. Please know that the demographic information submitted is not seen (and thus cannot be used in any way) by Technical Symposium reviewers or leadership. We also have no control over the questions asked nor where they appear in the form.' %}

SIGCSE TS {{site.year}} is **not participating in the new ACM workflow**, template, and production system.  *MS Word Authors*, please use the Interim Template. *LaTeX Authors*, please use the official ACM Master with the `ACM_SigConf` template.

Submissions use the English language. If you desire editing services, consider the following from the ACM.
<blockquote cite="https://www.acm.org/publications/proceedings-template">
ACM has partnered with <a href="https://acm.internationalscienceediting.com">International Science Editing (ISE)</a> to provide language editing services to ACM authors. ISE offers a comprehensive range of services for authors including standard and premium English language editing, as well as illustration and translation services. Editing services are at author expense and do not guarantee publication of a manuscript.
</blockquote>

{% if submissiontype == 'Paper' %}

 - Write your paper using the format specified above. Within the anonymized paper, you must provide Category and Subject Descriptors, General Terms, and Keywords based on the ACM classification system. These requirements are described in more detail in the [ACM Computing Classification System]({{site.data.publishing.acmclassifications}}).

{% elsif submissiontype == 'Panel' or submissiontype == 'Special Session' %}

 - Write your submission using the format specified above. Within the proposal, you must provide Category and Subject Descriptors, General Terms, and Keywords, just as paper authors must do. These requirements are described in more detail in the [ACM Computing Classification System]({{site.data.publishing.acmclassifications}}).

{% else %}

 - Prepare your {{ include.submissiontype }} submission using the format specified above. 
{% endif %}

 - Recall that you will also need to copy-and-paste or type your text abstract description into a text box in the submission form. Be sure that the same text appears in the submission and in the abstract text box in the submission form.

 - Be sure to choose the appropriate topic areas when submitting. Your choices help in assigning appropriate reviewers to your submission, and assist the reviewers in evaluating the paper from an appropriate perspective.

{% if site.data.cfp.submissionopen %}

<p class="alert-box info" role="alert">
  Please enter between
    {{site.data.cfp.topics.submission.min}} and {{site.data.cfp.topics.submission.max}}
  topic choices. This will help match your submission with reviewers.
</p>

{% if submissiontype == 'Nifty Assignment' %}
- A Nifty Assignment submission must use a .zip archive as described above in the section [How should the proposal be formatted?](#how-should-the-proposal-be-formatted)
{% else %}
 - Convert your submission-ready paper into Adobe PDF format. Refer to our [Creating Adobe PDF Documents page](creating_pdf.html) page for assistance.
{% endif %}

 - **When you're ready to submit**, 
   use [the online submission system - EasyChair]({{site.data.cfp.submissionurl}}) to complete the submission form and upload your submission. In addition to uploading the PDF version of your submission, you will fill out a form with metadata about your submission.

Please do not wait until the last minute to submit your documents because that is when everyone else will be connecting to our server!

Make note of the proposal ID number and password assigned to your submission. You will receive an email message confirmation. Spam filters sometimes trap these automatically generated messages so you may need to check your spam trap for the confirmation and later, acceptance or rejection notification.

After receiving confirmation, go to the submission site to **review your submission for accuracy**. Send email to the chair(s) (see below) if there are any problems.

{% else %}

{% include submission-not-open.html %}

{% endif %}