{% assign plural = page.plural %}

{% for submission in site.data.cfp.master %}
  {% for type in submission.types %}
    {% if type.plural == plural %}
      {% assign subtrack = submission.round %}
      {% if subtrack >= 0 and subtrack <= 2 %}
        {% assign subdate = site.data.cfp.round[subtrack].date %}
      {% else %}
        {% assign subdate = "Oops." %}
      {% endif %}
      {% assign subtime = submission.time %}
      {% assign subnotification = submission.notification %}
      {% assign subcameraready = submission.cameraready %}
      {% assign subtimelink = submission.link %}
      {% assign specialsubmission = site.data.cfp.details[plural].specialsubmission %}
      {% assign abstractdue = submission.abstractdue %}
      {% assign abstractlink = submission.abstractlink %}
    {% endif %}
  {% endfor %}
{% endfor %}

<!-- DEBUGGING 

{{include.plural}}

round: {{subtrack}}

date: {{subdate}}

time: {{subtime}}

{{subnotification}}

{{subcameraready}}

{{subtimelink}}

{{specialsubmission}}
-->


<div class="table-responsive" style="margin-top: 20px;">
  <table class="table">
      <tbody>
        {% if abstractdue %}
        <tr>
          <th scope="row">Abstract Due Date</th>
          <td>{{abstractdue}}</td>
        </tr>
        <tr>
          <th scope="row">Abstract Due Time</th>
          <td> <a href="{{subabstractlink}}">{{subtime}}</a> </td>
        </tr>
        {% endif %}
        <tr>
          <th scope="row">Date Due</th>
          <td>{{subdate}}</td>
        </tr>
        <tr>
          <th scope="row">Time Due</th>
          <td> {{subtime}}</td>
        </tr>
        <tr>
          <th scope="row">Submission Limits</th>
          <td> {{site.data.cfp.details[plural].limits}}
          {% if site.data.cfp.details[plural].abstract %}
            ({{site.data.cfp.details[plural].connector}} abstract of {{site.data.cfp.details[plural].abstract}})
          {% endif %}
          </td>
        </tr>
        <tr>
          <th scope="row">Duration</th>
          <td> {{site.data.cfp.details[plural].length}}</td>
        </tr>

        {% if site.data.cfp.submissionopen %}
        <tr>
          <th scope="row">Submission Link</th>
          <td>
              <a href="{{site.data.cfp.submissionurl}}">{{site.data.sigcse.upper}} {{site.data.sigcse.year}} SIGCSE TS 2021 Submission via EasyChair</a>
            </td>
        </tr>
        {% endif %}

        <tr>
          <th scope="row">Notification to Authors</th>
          <td> {{subnotification}}</td>
        </tr>

		{% if subcameraready %}
        <tr>
          <th scope="row">Camera-Ready Deadline</th>
          <td> {{subcameraready}}</td>
        </tr>
		{% endif %}

		{% if site.data.cfp.camerareadyinstructionsopen %}
        <tr>
          <th scope="row">Camera-Ready Instructions</th>
          <td>
			<a href="{{site.data.cfp.camerareadyinstructions}}">@ Sheridan Publishing</a>
          </td>
        </tr>
		{%endif %}

        {% comment %}
        <!--- FIXME: Why did I do this this way? It is probably to avoid
        some kind of duplication between two YAML files. However, it makes things
        a bit more complex. I am going to just do the render up above.

        This may have been because things evolved organically during the first build of the site.
      -->
        {% for submission in site.data.reviewers.finalization %}
          {% assign generateRow = false %}
          {% for sub in submission.types %}
            {% if plural == sub.plural %}
              {% assign generateRow = true %}
            {% endif %}
          {% endfor %}
          {% if generateRow %}
            <tr>
              <td> <b>{{submission.event}}</b> </td>
              <td> {{submission.date}} </td>
            </tr>
          {% endif %}
        {% endfor %}
        {% endcomment %}

      </tbody>
    </table>
</div>

