<div class="text-center" style="margin-top: 10px; margin-bottom: 10px;">
<a href="{{site.data.publishing.acmpubguidelines}}">Formatting requirements, MS Word template, and LaTeX template</a>
</div>

<strong>Be sure to use US letter size pages</strong> that measure 8.5" by 11", that's 215.9mm by 279.4mm.

SIGCSE {{site.year}} is **not participating in the new ACM workflow**, template, and production system.  *Word Authors*, please use the Interim Template. *LaTeX Authors*, please use the official ACM Master with the `ACM_SigConf` template.
