{% if page.track %}
{% capture track %}{{ page.track | downcase }}{% endcapture %}
{% else %}
{% assign track = "papers" %} 
{% endif %}

{% capture team %}{{site.data.submissions[track].who}}{% endcapture %}

<section>
<h2>Questions</h2>

<p>If you have questions about anything discussed above, please contact: </p>
	<h3>{{team}} Team</h3> 
	<p>Email: <a href="mailto:{{site.data.committee['Program Committee'][team].email}}">{{site.data.committee['Program Committee'][team].email}}</a></p>
	<ul>
	  {% for member in site.data.committee['Program Committee'][team].members %}
	    <li style="padding-bottom: 10px;"><b>{{member.name}}</b><br/>
	      {{member.inst}}
	    </li>
	  {% endfor %}
	</ul>
</section>
