---
layout: default
format: post
---
<div class="row t30">
	<div class="medium-8 columns{% if page.sidebar == "left" %} medium-push-4{% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				{% if page.image.title %}
				<figure>
					<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

					{% if page.image.caption_url and page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
				</figure>
				{% endif %}

				<div itemprop="name">
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
                    {% if page.collection == "authors" and page.track != 'CFP' %}
					    <h1>{{ page.title }} Submission Information</h1>
                    {% else %}
					    <h1>{{ page.title }}</h1>
                    {% endif %}
				</div>
			</header>


			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser }}
			</p>
			{% endif %}

			<div itemprop="articleSection">
			{{ content }}
			</div>

			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "left" %}
	<div class="medium-4 columns medium-pull-8">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	{% if page.sidebar == "right" %}
	<div class="medium-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}

	{% if page.sidebar == "authors" %}
	<div class="medium-4 columns">
		{% include _sidebar_authors.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}

	{% if page.sidebar == "reviewers" %}
	<div class="medium-4 columns">
		{% include _sidebar_reviewers.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}

	{% if page.sidebar == "committee" %}
	<div class="medium-4 columns">
		{% include _sidebar_committee.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}

	{% if page.sidebar == "exhibitors" %}
	<div class="medium-4 columns">
		{% include _sidebar_exhibitors.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}

	{% if page.sidebar == "attendees" %}
	<div class="medium-4 columns">
		{% include _sidebar_attendees.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}

	{% if page.sidebar == "schedule_workshops" %}
	<div class="medium-4 columns">
		{% include _sidebar_schedule_workshops.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}

    {% if page.collection == "authors" %}
	<div class="medium-4 columns">
		{% include _sidebar_authors.html %}
	</div><!-- /.medium-4.columns -->
	{% elsif page.collection == "reviewers" %}
	<div class="medium-4 columns">
		{% include _sidebar_reviewers.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->
